<!doctype html>
<html>
<head>
    <title>Dynamic Models Test</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/start/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style>
        .model-selector {
            cursor: pointer;
        }
        textarea {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <div class='container'>
        <div class="row">
            <div class="col-md-3">
                <h4>Models</h4>
                <hr>
                <ul class="nav nav-stacked" id="models-nav"></ul>
                <hr>
                <a class="btn btn-info btn-xs" href="#" id="model-editor-btn">Edit Models File</a>
                <a class="btn btn-success btn-xs" href="/admin/">Admin Panel</a>
            </div>
            <div class="col-md-9">
                <h4>Editor</h4>
                <hr>
                <div id="editor-container"></div>
            </div>
        </div>
    </div>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};

$(function() {
        $.get("ajax/get_models/", function(data) {
            data = JSON.parse(data);
            var nav = $('#models-nav');
            $.each(data, function() {
                li = $('<li />');
                a = $('<a />', {
                    'href': '#',
                    'data-model': this[0],
                    'class': 'model-selector'
                }).text(this[1]);
                nav.append(li.append(a).hide().fadeIn());
            });

        });
        $("#model-editor-btn").on('click', function(e) {
            e.preventDefault();
            $("#editor-container").load("/models_editor/");
        });
        $('#models-nav').on('click', '.model-selector', function(e) {
            e.preventDefault();
            $('.model-selector').removeClass('bg-primary');
            $(this).addClass('bg-primary');
            var editor = $('#editor-container').empty();
            var model_name = $(this).data('model');
            $.get("ajax/model/" + model_name + '/', function(model) {
                model = JSON.parse(model);
                model.id = model_name;
                window.model = model;
                editor.append($('<h3>' + model.name + '</h3>'));
                var table = $('<table />', {
                    'class': 'table table-bordered'
                });
                var head_row = $('<tr />', {'id': 'head-row'});
                $.each(model.fields, function() {
                    var th = $('<th />', {
                        'data-type': this.type,
                        'data-id': this.id,
                    }).text(this.title);
                    head_row.append(th);
                });
                table.append($('<thead />').append(head_row));
                editor.append(table);
                editor.append($('<button class="btn btn-default" id="add-obj-btn">Add an object</button>'));

                $.get("ajax/model_objects/" + model_name + '/', function(data) {
                    data = JSON.parse(data);
                    var tbody = $('<tbody />');
                    $.each(data, function() {
                        var object = this;
                        var row = $('<tr />');
                        $('#head-row th').each(function() {
                            field_name = $(this).data('id');
                            if (field_name == 'id') 
                                row.append($('<td class="object-id">' + object.pk + '</td>'));
                            else {
                                row.append($('<td />', {
                                        'class': $(this).data('type') + '-cell',
                                        'data-type': $(this).data('type'),
                                        'data-id': $(this).data('id')
                                    }).text(object.fields[field_name]));
                            }
                        });
                        tbody.append(row);
                    });
                    table.append(tbody);
                });
            });
        });
        $('#editor-container').on('click', '#add-obj-btn', function() {
            $(this).attr('disabled','disabled');
            $(this).fadeOut();
            panel = $('<div class="panel panel-default" id="add-panel"><div class="panel-heading">Add a ' + model.name + ' object</div></div>');
            contents = $('<div class="panel-body form-horizontal"></div>');
            $.each(model.fields, function() {
                if (this.id == 'id')
                    return null;
                form_group = $('<div class="form-group" />');
                label = $('<label for="' + this.id + '" class="col-md-3 control-label">' + this.title + '</label>');
                form_group.append(label);
                input = $('<div class="col-md-9"><input data-type="' + this.type + '" class="form-control" id="' + this.id + '"></div>');
                if (this.type == 'date')
                    $('input', input).addClass('date-input');
                else if (this.type == 'int')
                    $('input', input).addClass('only-numbers');
                form_group.append(input);
                contents.append(form_group);
            });
            form_group = $('<div class="form-group" />');
            btn = $('<div class="col-md-offset-3 col-md-9"><button class="btn btn-primary" id="obj-ready">Add</button></div>');
            form_group.append(btn);
            contents.append(form_group);
            panel.append(contents);
            $('#editor-container').append(panel.hide());
            panel.slideDown();

        });
        $('#editor-container').on('change', '#add-panel input', function() {
            var input = $(this);
            value = input.val();
            type = input.data('type');
            $.ajax({
                url: '/ajax/validate/',
                type: 'POST',
                data: {'value': value, 'type': type},
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                success: function(data) {
                    data = JSON.parse(data);
                    console.log(data);
                    if (data['result'] == 1){
                        input.parent().addClass('has-error');
                        $('#obj-ready').attr('disabled','disabled');
                    }
                    else {
                        input.parent().removeClass('has-error');
                        $('#obj-ready').removeAttr('disabled');
                    }
                }
            });
        });
        $('#editor-container').on('click', '#obj-ready', function() {
            $(this).attr('disabled','disabled');
            var fields = [];
            $("#add-panel input").each(function() {
                var input = $(this);
                fields.push({
                    'value': input.val(),
                    'type': input.data('type'),
                    'id': input.attr('id')
                });
            });
            data = {
                'fields': fields,
                'model': model.id
            };
            $.ajax({
                url: '/ajax/add_object/',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                success: function(data) {
                    $('.bg-primary').trigger('click');
                }
            });
        });
        $('#editor-container').on('focus', '.date-input', function() {
            $(this).datepicker({'dateFormat': "yy-mm-dd"});
        });
        $('#editor-container').on('click', '.char-cell, .int-cell, .date-cell', function() {
            var value = $(this).text();
            $(this).empty();
            var input = $('<input />', {
                'class': 'form-control edited',
                'data-parent': $(this).attr('class')
            }).val(value);
            if ($(this).hasClass('int-cell'))
                input.addClass('only-numbers');
            else if ($(this).hasClass('date-cell')) {
                input.data('selecting', true);
                
                input.datepicker({
                    'onClose': function() {$('.edited').data('selecting', false).trigger('focusout');},
                    'dateFormat': "yy-mm-dd"
                });
            }
            $(this).removeClass().append(input);
            input.trigger('focus');
        });
        $('#editor-container').on('keyup', '.only-numbers', function() {
            if (this.value != this.value.replace(/[^0-9\.]/g, ''))
               this.value = this.value.replace(/[^0-9\.]/g, '');
        });
        $('#editor-container').on('focusout', '.edited', function() {
            if ($(this).data('selecting') == true)
                return null;
            var value = $(this).val();
            var row = $(this).parent().parent();
            var id = $('.object-id', row).text();
            var model = $('.bg-primary').data('model');
            var field = $(this).parent().data('id');
            data = {
                'value': value,
                'id': id,
                'field': field,
                'model_name': model
            }
            $.ajax({
                url: '/ajax/update_object/',
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: 'application/json',
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                success: function(data) {
                    data = JSON.parse(data);
                    if (data['error'] !== undefined)
                        alert(data['error']);
                }
            });
            $(this).parent().addClass($(this).data('parent')).empty().text(value);
        });
});
</script>
</body>
</html>
